body { 
    padding-top: 70px;
    background-color: lightseagreen;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
}

#list:nth-child(4n+1) {
    background-color: rgb(230, 230, 230);
}
#list:nth-child(4n+2) {
    background-color: rgb(230, 230, 230);
}
#list:nth-child(2n+2) {
    border-left: lightslategray 1px solid;
}
#list {
    list-style-type: none;
    font-family: Helvetica, Georgia, sans-serif;
}

/* overrides */

ul {
    padding-inline-start: 0px;
}
a {
    color: black
}